# ..... Common requirements for a Python project
pandas
numpy
requests

# ..... Working with notebooks
python-dotenv
IPython
ipykernel

# ..... Requirements for mkdocs
mkdocs-material

# ..... Requirements for OpenAI
openai